

.App {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 12.5% 12.5% auto;
  width: 60%;
  height: 90%;
  border: 1px solid black;
}


.App > *{
  border: 1px solid black;
}

.grid-item-zero{
  grid-column-start: span 4;
  display: flex;
  /* justify-content: space-around; */
}

.grid-item-one {
  background-color: rgb(243, 148, 65)
}

.grid-item-two {
  grid-column-start: span 3;
  background-color: rgb(204, 245, 180)
}

.grid-item-three {
  background-color: rgb(204, 245, 180)
}

.grid-item-four{
  grid-column-start: span 3;
  overflow-y: scroll;
  overflow-x: hidden;
}

.image-container{
  display: flex;
  justify-self: center;
  align-items: center;
}

.searchbox {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchbtn {
  width: 50%;
  margin: 3%;
}

.searchfield {
  width: 100%;
}

.saved-container {
  display: grid;
  grid-template-rows: 12.5% auto;
  width: 60%;
  height: 90%;
  border: 1px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
  

}

.saved-container > *{
  border: 1px solid black;
} 

#saveBtnClicked{
  background-color: purple;
}


.save {
  position: absolute;
  right: 5%;
}


.help {
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 68%;
}
.body {
  display: flex;
  flex-direction: column;
  justify-items:start;
}

.text-expandor{
  font-size: x-small;
}
